# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Данные и веса (тяжёлые файлы)
data_raw/
my_dataset/
checkpoints/
notebooks/data/
data_synthetic/
data_cache/

# Local testing and development
test/
notebooks/
runs/

# YOLO Weights and training dataset
yolo26m.pt
yolo26n.pt
yolo_training/dataset