# PyTorch (CUDA 13.0) — ставится отдельно через --extra-index-url
--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.10.0+cu130
torchvision

# Всё остальное — из PyPI
numpy
matplotlib
tqdm
opencv-python
pillow
nltk
rapidfuzz
albumentations
optuna
tensorboard
streamlit
fastapi
uvicorn[standard]
python-multipart
google-generativeai
jupyter
ipykernel
pdf2image
h5py
imagehash
kaggle
